@import url(./partials/default.css);
@import url(./partials/sidebar.css);
@import url(./partials/footer.css);

.review-section {
  padding: 2rem;
  text-align: center;
  width: 60%;
  text-align: left;
  margin: 3rem auto;
}

.review-section p,
.review-section ul {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .review-section {
    width: 100%;
    margin: 1rem auto;
  }
}
