@import url(./partials/default.css);
@import url(./partials/sidebar.css);
@import url(./partials/footer.css);

.main {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.contact-box {
  /* border: var(--br1); */
}

.contact-box form {
  display: flex;
  /* border: var(--br2); */
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 1px 4px 20px 10px #efefef;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 2rem 21rem;
  padding: 3rem 0;
}

.contact-box > form > input,
textarea {
  width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: #ececec 2px solid;
  font-size: 0.75rem;
  font-family: "Laila", sans-serif;
}

.contact-box form button {
  background-color: var(--blue);
  padding: 0.5rem 2rem;
  color: var(--white);
  border-radius: 0.5rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Laila", sans-serif;
}

.contact-box form button:hover {
  background-color: var(--black);
  transition: 300ms background-color;
}

.contact-box form p {
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .contact-box form {
    margin: 1rem;
  }

  .contact-box > form > input,
  textarea {
    width: 85%;
  }
}
