@import url(./partials/default.css);
@import url(./partials/sidebar.css);
@import url(./partials/footer.css);

.main {
  margin: 2rem 3rem;
}

.mentoring__content > p {
  padding: 1rem 0;
}

.mentoring__content {
  width: 60%;
  margin: 1rem auto;
  padding: 3rem 0;
}

@media (max-width: 600px) {
  .main {
    margin: 0rem 2rem;
  }
  .mentoring__content {
    width: 100%;
    padding: 0;
  }
}
