.publication-research {
  padding: 8rem 0;
}

.pr-layout {
  display: flex;
}

.pr-layout > * {
  width: 50%;
}

.pr__image {
  /* border: var(--br1); */
  height: 350px;
  overflow: hidden;
}

.pr__image > img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.img1 {
  border-radius: 2rem 2rem 0 2rem;
}

.img2 {
  border-radius: 0 2rem 2rem 2rem;
}

.pr__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.pr__heading a {
  color: var(--black);
  font-family: "Philosopher", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
